@using StudyDS_web.Models.ViewModels
@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Zmień hasło";
}

<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-header bg-login text-white">
                    <h4 class="mb-0">Zmień hasło</h4>
                </div>
                <div class="card-body">
                    <form asp-controller="Account" asp-action="ChangePassword" method="post">
                        <input type="hidden" asp-for="User.UserId" />
                        <input type="hidden" asp-for="User.Name" />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="mb-3">
                            <label asp-for="User.Password" class="form-label">Obecnoe hasło</label>
                            <input asp-for="User.Password" type="password" class="form-control" />
                        </div>
                        <div class="mb-3">
                            <label asp-for="NewPassword" class="form-label">Nowe hasło</label>
                            <input asp-for="NewPassword" class="form-control" type="password"/>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-login-custom">Zaloguj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}