@using StudyDS_web.Models.ViewModels

@{
    ViewData["Title"] = "Wydarzenia";
}
@model EventFormViewModel

<h3>Events</h3>
<br />

<form method="post" asp-action="addEvent">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Event.Name" class="col-form-label">Nazwa</label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Event.Name" class="form-control" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Event.Description" class="col-form-label">Opis</label>
        </div>
        <div class="col-6">
            <textarea asp-for="Event.Description" class="form-control" rows="5"></textarea>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Event.PriorityLevel" class="col-form-label">Priorytet</label>
        </div>
        <div class="col-5">
            <input type="range" asp-for="Event.PriorityLevel" class="form-range" min="0" max="2" step="1" id="priorityRange" oninput="updatePriorityValue(this.value)" />
        </div>
        <div class="col-2">
            <span id="priorityValue" class="fw-bold"></span>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Event.Date" class="col-form-label">Czas wykonania</label>
        </div>
        <div class="col-6">
            <input type="date" asp-for="Event.Date" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
    </div>
    <div class="mb-3 row">
        <label asp-for="Event.SubjectId" class="col-form-label col-2">Przedmiot</label>
        <div class="col-6">
            <select asp-for="Event.SubjectId" class="form-select">
                <option value="">Brak</option>
                @foreach (var subject in Model.Subjects)
                {
                    <option value="@subject.SubjectId">@subject.Name</option>
                }
            </select>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            <input type="submit" class="btn-group btn-primary" value="Submit" />
        </div>
    </div>
</form>


@section Scripts {
    <script>
        const priorityMap = {
            "0": "Niski",
            "1": "Średni",
            "2": "Wysoki"
        };

        function updatePriorityValue(val) {
            document.getElementById("priorityValue").innerText = priorityMap[val] ?? val;
        }

        window.addEventListener("DOMContentLoaded", function () {
            const slider = document.getElementById("priorityRange");
            updatePriorityValue(slider.value);

            slider.addEventListener("input", function () {
                updatePriorityValue(this.value);
            });
        });
    </script>
}
