@{
    ViewData["Title"] = "Wydarzenia";
}
@model Event

<h3>Events</h3>
<br />

<form method="post" asp-action="UpdateEv">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="EventId" />
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Name" class="col-form-label">Nazwa</label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Name" class="form-control" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Description" class="col-form-label">Opis</label>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Description" class="form-control" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="PriorityLevel" class="col-form-label">Priorytet</label>
        </div>
        <div class="col-6">
            <input type="range" asp-for="PriorityLevel" class="form-range" min="0" max="2" step="1" id="customRange3" value="@( (int)Model.PriorityLevel )" />

        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="Date" class="col-form-label">Czas wykonania</label>
        </div>
        <div class="col-6">
            <input type="date" asp-for="Date" class="form-control" min="@DateTime.Now.ToString("yyyy-MM-dd")" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            <label asp-for="SubjectId" class="col-form-label"></label>
        </div>
        <div class="col-6">
            <input type="number" asp-for="SubjectId" class="form-control" />
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col-2">
            <input type="submit" class="btn-group btn-primary" value="Submit" />
        </div>
    </div>
</form>

@section Scripts {
    <script>
        function updatePriorityValue(val) {
            let text = "";
            switch (val) {
                case "0":
                    text = "Niski";
                    break;
                case "1":
                    text = "Średni";
                    break;
                case "2":
                    text = "Wysoki";
                    break;
                default:
                    text = val;
            }
            document.getElementById("priorityValue").innerText = text;
        }
        window.addEventListener("DOMContentLoaded", function () {
            var slider = document.getElementById("priorityRange");
            updatePriorityValue(slider.value);
        });
    </script>
}