# Visual Studio
.vscode/
*.suo
*.user
*.vcxproj*
*.csproj.user

# Build output
bin/
obj/
out/


# Ignoruj pliki konfiguracyjne środowiska developerskiego
**/appsettings.Development.json
**/appsettings.*.json

