html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-login {
    background-color: #5DADE2 !important;
}

.btn-login-custom {
    background-color: #2E86C1 !important;
    border-color: #2E86C1 !important;
    color: #fff !important;
}

.btn-login-custom:hover {
    background-color: #1B4F72 !important;
    border-color: #1B4F72 !important;
}

.description-preview {
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    transition: max-height 0.3s ease;
}

.custom-navbar {
    background-color: #29628a !important;
    color: white;
}


.description-full {
    max-height: none;
}

#descriptionModalBody {
    word-break: break-word;
    white-space: pre-wrap;
}

